In [7]:
import numpy as np 
import pandas as pd 


import os 
for dirname, _, filenames in os.walk('./data/'):
    for filename in filenames:
        print(os.path.join(dirname,filename))

data_train = pd.read_csv("./data/train.csv", index_col="PassengerId")
data_test = pd.read_csv("./data/test.csv", index_col="PassengerId")

./data/test.csv
./data/train.csv
./data/gender_submission.csv

In [3]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

pipeline = Pipeline(steps=[('pru', SimpleImputer(strategy="most_frequent"))])

In [14]:
data_test.head()

             Pclass     Sex   Age  SibSp  Parch     Fare  Cabin Embarked
PassengerId
892               3    male  34.5      0      0   7.8292      0        Q
893               3  female  47.0      1      0   7.0000      0        S
894               2    male  62.0      0      0   9.6875      0        Q
895               3    male  27.0      0      0   8.6625      0        S
896               3  female  22.0      1      1  12.2875      0        S

In [8]:
data_train["Cabin"] = data_train["Cabin"].apply(lambda x: 0 if type(x) == float else 1)
data_test["Cabin"] = data_test["Cabin"].apply(lambda x: 0 if type(x) == float else 1)
x_valid = data_train.pop("Survived")

In [10]:
data_train.drop("Ticket", axis=1, inplace=True)
data_test.drop("Ticket", axis=1, inplace=True)

In [13]:
data_train.drop("Name", axis=1, inplace=True)
data_test.drop("Name", axis=1, inplace=True)

In [15]:
columns = list(data_train.columns)

In [16]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Cabin     891 non-null    int64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 94.9+ KB

In [17]:
from sklearn.preprocessing import OneHotEncoder

cat = OneHotEncoder(handle_unknown="ignore",sparse=False)
trans = ColumnTransformer(transformers=[("imp", pipeline, columns),
("cate", cat, ["Sex","Embarked"])])

In [51]:
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

model = Pipeline(steps= [("pre", cat),
("modelo", RandomForestClassifier(n_estimators=100,random_state=1))])

In [52]:
model.fit(data_train,x_valid)

Pipeline(steps=[('pre', OneHotEncoder(handle_unknown='ignore', sparse=False)),
                ('modelo', RandomForestClassifier(random_state=1))])

In [53]:
data_test.drop("Survived",axis=1,inplace=True)

In [54]:
data_test["Survived"] = model.predict(data_test)

In [55]:
data_test.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Survived
PassengerId,,,,,,,,,
892,3,male,34.5,0,0,7.8292,0,Q,0
893,3,female,47.0,1,0,7.0000,0,S,0
894,2,male,62.0,0,0,9.6875,0,Q,0
895,3,male,27.0,0,0,8.6625,0,S,1
896,3,female,22.0,1,1,12.2875,0,S,1

In [30]:
predict

array([0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0.,
       0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0.,
       0., 1., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0.,
       0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 1., 0.,
       1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0., 1., 1.,
       0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 1., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
       1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 1.,
       1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1., 0., 0., 1., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       1., 0., 1., 1., 0., 0., 1., 0., 0., 0.])

In [56]:
output = pd.DataFrame({'Survived': data_test.Survived})
output.head()

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 1
896                 1

In [57]:
output.to_csv('my_submission2.csv', index=True)