In [32]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [33]:
data = pd.read_csv("train.csv", index_col='PassengerId')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [34]:
sexencoder = LabelEncoder()
ticketenconder = LabelEncoder()
cabinencoder = LabelEncoder()
embarkedencoder = LabelEncoder()

In [35]:
data.Sex = sexencoder.fit_transform(data.Sex)
data.Ticket = ticketenconder.fit_transform(data.Ticket)
#data.Cabin = cabinencoder.fit_transform(data.Cabin)
#data.Embarked = embarkedencoder.fit_transform(data.Embarked)

In [36]:
data = data.drop(['Name', 'Cabin', 'Embarked'], axis=1)

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    int32
 7   Fare      891 non-null    float64
dtypes: float64(2), int32(2), int64(4)
memory usage: 55.7 KB

In [38]:
data = data.dropna()

In [39]:
clasificador = tree.DecisionTreeClassifier()

In [40]:
y = data.pop('Survived')

In [41]:
clasificador.fit(X = data, y = y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [43]:
test = pd.read_csv('test.csv', index_col='PassengerId')

In [45]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Name      418 non-null    object
 2   Sex       418 non-null    object
 3   Age       332 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Ticket    418 non-null    object
 7   Fare      417 non-null    float64
 8   Cabin     91 non-null     object
 9   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 52.1+ KB

In [48]:
test.Sex = sexencoder.fit_transform(test.Sex)
test.Ticket = ticketenconder.fit_transform(test.Ticket)

In [49]:
test = test.drop(['Name', 'Cabin', 'Embarked'], axis=1)

In [52]:
test = test.dropna()

In [53]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 892 to 1307
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  331 non-null    int64
 1   Sex     331 non-null    int32
 2   Age     331 non-null    float64
 3   SibSp   331 non-null    int64
 4   Parch   331 non-null    int64
 5   Ticket  331 non-null    int32
 6   Fare    331 non-null    float64
dtypes: float64(2), int32(2), int64(3)
memory usage: 18.1 KB

In [54]:
clasificador.predict(X=test)

array([1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0], dtype=int64)

In [55]:
test['Survived'] = clasificador.predict(X=test)

In [56]:
test

             Pclass  Sex   Age  SibSp  Parch  Ticket      Fare  Survived
PassengerId
892               3    1  34.5      0      0     152    7.8292         1
893               3    0  47.0      1      0     221    7.0000         0
894               2    1  62.0      0      0      73    9.6875         0
895               3    1  27.0      0      0     147    8.6625         0
896               3    0  22.0      1      1     138   12.2875         0
...             ...  ...   ...    ...    ...     ...       ...       ...
1301              3    0   3.0      1      1     351   13.7750         1
1303              1    0  37.0      1      0      48   90.0000         1
1304              3    0  28.0      0      0     184    7.7750         0
1306              1    0  39.0      0      0     324  108.9000         1
1307              3    1  38.5      0      0     346    7.2500         0

[331 rows x 8 columns]

In [57]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix()